.card-container {
    background: #B5D6D6;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.card-container:hover {
    transform: scale(1.1);
}

.user-avatar {
    justify-self: center;
}